.loading {
  animation: Fade ease-in-out 1s forwards;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  margin-top: 100px;
  width: 100%; }
  .loading__text strong {
    color: #666;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px; }
  .loading .book {
    background: rgba(26, 188, 156, 0.3);
    border: 5px solid #1abc9c;
    height: 60px;
    margin: 30px auto;
    position: relative;
    width: 100px;
    display: block; }
  .loading .book__page {
    animation-fill-mode: forwards;
    animation: flip 1.2s infinite linear;
    background: #1abc9c;
    border-bottom: 5px solid #1abc9c;
    border-right: 5px solid #1abc9c;
    border-top: 5px solid #1abc9c;
    height: 60px;
    left: 50%;
    margin: 0 auto;
    position: absolute;
    top: -5px;
    transform-origin: 0% 50%;
    width: 50px; }
    .loading .book__page:nth-child(1) {
      z-index: -1;
      animation-delay: 1.4s; }
    .loading .book__page:nth-child(2) {
      z-index: -2;
      animation-delay: 2.8s; }
    .loading .book__page:nth-child(3) {
      z-index: -3;
      animation-delay: 4.2s; }

@keyframes flip {
  0% {
    transform: perspective(600px) rotateY(0deg); }
  20% {
    background: #148f77; }
  29.9% {
    background: #148f77; }
  30% {
    transform: perspective(200px) rotateY(-90deg);
    background: #1abc9c; }
  54.999% {
    opacity: 1; }
  55% {
    opacity: 0; }
  60% {
    transform: perspective(200px) rotateY(-180deg);
    background: #1abc9c; }
  100% {
    transform: perspective(200px) rotateY(-180deg);
    background: #1abc9c; } }
