/* Mixin helper for media-queries */
/* Reset All Styles */
<<<<<<< HEAD
@import url(./components/my-book/my-book.css);
=======
@import url(./components/my-books/my-books.css);
>>>>>>> 1dec1dd10af74b799d2e968a42021d50f3f896e8
* {
  appearance: none;
  border-radius: 0;
  border: 0;
  list-style: none;
  margin: 0;
  padding: 0; }

.container {
  display: block;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
