/* Mixin helper para media-queries */
/* Reseta estilos */
@import url(./components/my-books/my-books.css);
@import url(./components/filter/input-filter.css);
@import url(./components/search/search.css);
@import url(./components/loader/loader.css);
* {
  appearance: none;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0; }

body {
  background: #ecf0f1; }

.container {
  display: block;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
  max-width: 500px; }
  @media (min-width: 768px) {
    .container {
      max-width: 100%;
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 100%;
      width: 970px; } }

@keyframes Fade {
  from {
    transform: translateY(-10px);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-15px); }
  to {
    opacity: 1;
    transform: translateX(0); } }

@keyframes SlideInSearch {
  from {
    opacity: 0;
    transform: translateY(0); }
  to {
    opacity: 1;
    transform: translateY(110px); } }

.mr-shelf {
  animation: Fade ease-in-out 0.5s forwards; }
