.mr-shelf {
	display: block;
	width: 100%;
	&__title {
		display: block;
		width: 100%;
		h2 {
			display: block;
			font-family: 'Montserrat';
			font-weight: 800;
			font-size: 16px;
			letter-spacing: 1px;
			text-transform: uppercase;
			padding: 30px 0 10px 0;
			width: 96.5%;
		}
	}
	&__list {
		display: block;
		width: 100%;
		ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			margin: 30px 0;
			width: 100%;
		}
		li {
			animation: Fade ease-in-out 0.3s forwards;
			box-shadow: 0 1px 2px rgba(25, 25, 25, 0.2);
			background: #fff;
			position: relative;
			margin-right: 20px;
			margin-bottom: 30px;
			width: 150px;

			&:last-of-type {
				margin-right: 0;
			}
		}
	}
}

.item-book {
	&--img {
		box-shadow: 1px 4px 12px rgba(0,0,0,0.2);
		border-radius: 4px;
		cursor: pointer;
		display: block;
		height: 130px;
		margin-bottom: 20px;
		overflow: hidden;
		transition: ease-in-out 0.3s;
		width: 100%;

		img {
			display: block;
			width: 100%;
		}
	}

	&--title, 
	&--description {
		display: block;
		margin-bottom: 6px;
		h2, p {
			color: black;
			font-family: 'Montserrat';
			font-weight: 600;
			font-size: 14px;
		}
	}

	&--description {
		p {
			color: #999;
			font-size: 14px;
		}
	}

	&--selection {
		background: #fff url('../../imgs/icons/dots-vertical.svg') no-repeat center center;
		border-radius: 50%;
		display: block;
		height: 40px;
		overflow: hidden;
		position: absolute;
		right: 12px;
		top: 80px;
		width: 40px;
		z-index: 2;

		select {
			appearance: none;
			background: transparent;
			border-radius: 90px;
			cursor: pointer;
			display: block;
			font-family: 'Montserrat';
			font-size: 9px;
			font-weight: 600;
			height: 40px;
			margin-left: -116px;
			padding: 0 5px;
			text-transform: uppercase;
			width: 160px;

			&:focus {
				box-shadow: none;
				outline: none;
			}
		}
	}
}

.mr-shelf__list {
	.item-book--selection {
		top: 50px;
	}
	li {
			
		width: 165px;
	}
}

.container--shelf {
	.wantToRead {
		h2 {
			color: #e74c3c;
			border-bottom: 1px solid #e74c3c;
		}
	}
	.currentlyReading {
		h2 {
			color: #f1c40f;
			border-bottom: 1px solid #f1c40f;
		}
	}
	.read {
		h2 {
			color: #1abc9c;
			border-bottom: 1px solid #1abc9c;
		}
	}
}

.text-col {
	display: block;
	position: relative;
	&-author {
		margin-bottom: 15px;
		&:after {
			background: #7f8c8d;
			content: '';
			width: 20px;
			height: 1px;
			display: block;
			position: absolute;
			left: 0;
			bottom: -10px;
		}
	}
}
