.mr-shelf {
	display: block;
	width: 100%;
	&__title {
		border-bottom: 1px solid #dadada;
		display: block;
		padding: 30px 0 10px 0;
		width: 100%;
		h2 {
			color: #1abc9c;
			display: inline-block;
			font-family: 'Montserrat';
			font-weight: 800;
			font-size: 16px;
			letter-spacing: 1px;
			text-transform: uppercase;
		}
	}
	&__list {
		display: block;
		width: 100%;
		ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			margin: 30px 0;
			width: 100%;
		}
		li {
			position: relative;
			margin-right: 20px;
			width: 120px;

			&:last-of-type {
				margin-right: 0;
			}

			.item-book {
				&--img {
					box-shadow: 1px 4px 12px rgba(0,0,0,0.2);
					border-radius: 4px;
					cursor: pointer;
					display: block;
					height: 130px;
					margin-bottom: 20px;
					overflow: hidden;
					transition: ease-in-out 0.3s;
					width: 100%;

					img {
						display: block;
						filter: grayscale(1);
						width: 100%;

						&:hover {
							filter: grayscale(0);
						}
					}
				}

				&--title, 
				&--description {
					display: block;
					margin-bottom: 6px;
					h2, p {
						color: black;
						font-family: 'Montserrat';
						font-weight: 600;
						font-size: 14px;
					}
				}

				&--description {
					p {
						color: #999;
						font-size: 14px;
					}
				}

				&--selection {
					background: #1abc9c url('../../imgs/icons/chevron-down.svg') no-repeat center center;
					border-radius: 50%;
					display: block;
					height: 40px;
					overflow: hidden;
					position: absolute;
					right: 12px;
					top: 80px;
					transition: ease-in-out 0.1s;
					width: 40px;
					z-index: 2;

					&:hover {
						background-position: center 12px;
					}

					select {
						appearance: none;
						background: transparent;
						border-radius: 90px;
						cursor: pointer;
						display: block;
						font-family: 'Montserrat';
						font-size: 9px;
						font-weight: 600;
						height: 40px;
						margin-left: -116px;
						padding: 0 5px;
						text-transform: uppercase;
						width: 160px;

						&:focus {
							box-shadow: none;
							outline: none;
						}
					}
				}
			}
		}
	}
}