.mr-shelf {
  display: block;
  width: 100%; }
  .mr-shelf__title {
    border-bottom: 1px solid #dadada;
    display: block;
    padding: 30px 0 10px 0;
    width: 100%; }
    .mr-shelf__title h2 {
      color: #1abc9c;
      display: inline-block;
      font-family: 'Montserrat';
      font-weight: 800;
      font-size: 16px;
      letter-spacing: 1px;
      text-transform: uppercase; }
  .mr-shelf__list {
    display: block;
    width: 100%; }
    .mr-shelf__list ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin: 30px 0;
      width: 100%; }
    .mr-shelf__list li {
      animation: Fade ease-in-out 0.3s forwards;
      position: relative;
      margin-right: 20px;
      width: 120px; }
      .mr-shelf__list li:last-of-type {
        margin-right: 0; }

.item-book--img {
  box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  cursor: pointer;
  display: block;
  height: 130px;
  margin-bottom: 20px;
  overflow: hidden;
  transition: ease-in-out 0.3s;
  width: 100%; }
  .item-book--img img {
    display: block;
    filter: grayscale(1);
    width: 100%; }
    .item-book--img img:hover {
      filter: grayscale(0); }

.item-book--title, .item-book--description {
  display: block;
  margin-bottom: 6px; }
  .item-book--title h2, .item-book--title p, .item-book--description h2, .item-book--description p {
    color: black;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px; }

.item-book--description p {
  color: #999;
  font-size: 14px; }

.item-book--selection {
  background: #1abc9c url("../../imgs/icons/chevron-down.svg") no-repeat center center;
  border-radius: 50%;
  display: block;
  height: 40px;
  overflow: hidden;
  position: absolute;
  right: 12px;
  top: 80px;
  transition: ease-in-out 0.1s;
  width: 40px;
  z-index: 2; }
  .item-book--selection:hover {
    background-position: center 12px; }
  .item-book--selection select {
    appearance: none;
    background: transparent;
    border-radius: 90px;
    cursor: pointer;
    display: block;
    font-family: 'Montserrat';
    font-size: 9px;
    font-weight: 600;
    height: 40px;
    margin-left: -116px;
    padding: 0 5px;
    text-transform: uppercase;
    width: 160px; }
    .item-book--selection select:focus {
      box-shadow: none;
      outline: none; }

.book {
  background: rgba(26, 188, 156, 0.3);
  border: 5px solid #1abc9c;
  height: 60px;
  margin: 30px auto;
  position: relative;
  width: 100px;
  display: block; }

.book__page {
  animation-fill-mode: forwards;
  animation: flip 1.2s infinite linear;
  background: #1abc9c;
  border-bottom: 5px solid #1abc9c;
  border-right: 5px solid #1abc9c;
  border-top: 5px solid #1abc9c;
  height: 60px;
  left: 50%;
  margin: 0 auto;
  position: absolute;
  top: -5px;
  transform-origin: 0% 50%;
  width: 50px; }
  .book__page:nth-child(1) {
    z-index: -1;
    animation-delay: 1.4s; }
  .book__page:nth-child(2) {
    z-index: -2;
    animation-delay: 2.8s; }
  .book__page:nth-child(3) {
    z-index: -3;
    animation-delay: 4.2s; }

@keyframes flip {
  0% {
    transform: perspective(600px) rotateY(0deg); }
  20% {
    background: #148f77; }
  29.9% {
    background: #148f77; }
  30% {
    transform: perspective(200px) rotateY(-90deg);
    background: #1abc9c; }
  54.999% {
    opacity: 1; }
  55% {
    opacity: 0; }
  60% {
    transform: perspective(200px) rotateY(-180deg);
    background: #1abc9c; }
  100% {
    transform: perspective(200px) rotateY(-180deg);
    background: #1abc9c; } }
